
<% include ../partials/header %>
    <div class="container" >
        <div class="jumbotron"style='background-image:url(/photos/1.jpg); background-size:100%;'>
                <img src="/photos/aimusiclogo.png"><span style="color: white;font-family: 'times new roman'; font-size: 50px;">Welcome to AI MUSIC</span>
        </div>
    </div>
    <br>
    <br> 
<div class="container">
    <div class="row text-center" style="display:flex; flex-wrap:wrap">
        <% songs.forEach(function(song){ %>
            <div class="col-md-4 col-sm-6 col-lg-6">
                <div class="thumbnail" style="background:#232323;">
                      <img src= "<%= song.cover_image %>" height="400px" width="400px" >
                      <div class="caption">
                            <h4 style="color: white;"><%= song.song %></h4>
                      </div>
                      <p>
                          <a href="/songs/<%= song._id %>" class="btn btn-warning">ROCK THE MUSIC</a>
                      </p>
                </div>   
            </div>
                
            <% }); %>
  </div>
</div>





<% include ../partials/footer %>